<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ethan Tao">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Ethan Tao's professional website">
    <title>Ethan Tao</title>
</head>
<body style="font-family: Arial">
    <header>
        <h1>Ethan Tao</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Contact Me</h2>
        <form>
            <label for="name">Your name (required)</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Your email</label>
            <input type="text" id="email" name="email">

            <label for="comment">Your comment</label>
            <textarea id="comment" name="comment" rows="10" cols="50"></textarea>

            <button type="submit">SEND</button>
        </form>

        <table>
            <tr>
                <th>Contact Method Description</th>
            </tr>
            <tr>
                <td>email: etao@andrew.cmu.edu</td>
            </tr>
            <tr>
                <td>phone number: 412-652-8886</td>
            </tr>
            <tr>
                <td>LinkedIn: linkedin.com/in/ethan-tao</td>
            </tr>
        </table>
    </div>
    <footer>
        &copy; Copyright 2025. All Rights Reserved.
    </footer>
</body>
</html>