<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ethan Tao">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Ethan Tao's professional website">
    <title>Ethan Tao</title>
</head>
<body style="font-family: Arial">
    <header>
        <h1>Ethan Tao</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Product Management Academy (PMA)</td>
                <td>A club where students practice product management interviews and create wireframes for potential products.</td>
            </tr>
            <tr>
                <td>Business Technology Group (BTG)</td>
                <td>An overarching club that runs general sessions for students interested in applying technology to business operations.</td>
            </tr>
        </table>
        <a href="../static/resume.pdf" target="_blank">My resume (pdf)</a>
    </div>
    <footer>
        &copy; Copyright 2025. All Rights Reserved.
    </footer>
</body>
</html>
