<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ethan Tao">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Ethan Tao's professional website">
    <title>Ethan Tao</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Ethan Tao</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">Resume</a>
            <a href="fun.html">Hobbies</a>
            <a href="contact.html">Contact me</a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Product Management Academy (PMA)</td>
                <td>A club where students practice product management interviews and create wireframes for potential products.</td>
            </tr>
            <tr>
                <td>Business Technology Group (BTG)</td>
                <td>An overarching club that runs general sessions for students interested in applying technology to business operations.</td>
            </tr>
            <tr>
                <td>DECA</td>
                <td>A business club that helps teach public speaking and improv skills.</td>
            </tr>
            <tr>
                <td>Future Business Leaders of America Club</td>
                <td>A club that develops student leaders and allows students to explore niches for business.</td>
            </tr>
        </table>
        <a href="../static/resume.pdf" target="_blank">My resume (pdf)</a>
    </div>
    <footer>
        <p id="copyYear">&copy; All Rights Reserved. Designed and Coded by Ethan Tao.</p>
    </footer>
</body>
</html>