<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template</title>
    <link rel="stylesheet" href="../static/templates.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="../static/script.js" defer></script>
</head>
<body>
    <div class="containers">
        <header class="title">
            <h1 id="webname">Ethan Tao</h1>
        </header>
        <nav class="navigation">
            <i class="fas fa-bars hamburger"></i>
            <ul class="nav-links">
              <li><a href="../index.html">Home</a></li>
              <li><a href="cv.html">Resume</a></li>
              <li><a href="fun.html">Hobbies</a></li>
              <li><a href="contact.html">Hobbies</a></li>
              <li><a href="template.html">Template</a></li>
            </ul>
          </nav>
        <div class="mainImage">
            <img src="../static/profilePic.jpeg" alt="Ethan Profile Picture">
        </div>
        <main class="mainContent">
            <p>Content</p>
            <p id="intro">
                Hello, my name is Ethan Tao. I am a freshman and am majoring in business. 
                I love playing soccer, hanging out with friends, and eating good food!
            </p>
        </main>
        <footer class="footNotes">
            <p id="copyYear">&copy; All Rights Reserved. Designed and Coded by Ethan Tao.</p>
        </footer>
    </div>
</body>
</html>